@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >bitcoin dominance </h1>
    <p>bitcoin analitics</p>
</div>
</div>
<img src="https://www.infomoney.com.br/dominance_13_09/?1536867509768" class="img-fluid" >
