@{
    ViewData["Title"] = " transactions ";
}
<h1>biggest transactions today</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">wallet</th>
      <th scope="col">amount(BTC)</th>
      <th scope="col">amount(USD)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>bc1q7cyrfmck2ffu2ud3rn5l5a8yv6f0chkp0zpemf</td>
      <td>9.18813497 BTC</td>
      <td>US$ 384.805,01</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>3AVrmFECeaBRse2f1e8HQpE1YUcwitoudV</td>
      <td>41.05723232 BTC</td>
      <td>US$ 1.719.467,99</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>1MnABJZgHwhC4JmAVu64nuH6AkT29B7j3Q</td>
      <td>5.09425738 BTC</td>
      <td>US$ 213.316,23</td>
    </tr>
  </tbody>
</table>
<a href="#" class="link-dark">see more</a>