@{
    ViewData["Title"] = "bitcoin graphic";
}

<div class="text-center">
    <h1 >bitcoin graphic</h1>
    <p>1D</p>

<img  src="https://www.comocomprarcriptomoedas.com/wp-content/uploads/2021/04/bitcoin-em-100-000-estimando-a-chance-de-seis-digitos-btc-em-2021-740x477.png" >
</div>